<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImitatedScene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>001F012B1D6EE0E90049F921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001F014A1D6EE0EA0049F921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001F01551D6EE0EA0049F921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
